<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- Vue监测数据的原理
        1.Vue会监测data中所有层次的数据
        
        2.如何监测对象中的数据?
            通过setter实现监视,且要在new Vue时就传入要监测的数据
                (1).对象中后追加的属性，Vue默认不做响应式处理
                (2).若需给后添加的属性做响应式,请使用如下Api
                    Vue.set(target,propertyName/index,value)或者
                    vm.$set(target,propertyName/index,value)
        3.如何监测数组中的数据?
            通过包装数组更新元素的方法实现，本质就是两件事
                1.调用原生对应的方法对数组进行更新
                2.重新解析模版，进而更新页面
        4.在Vue修改数组中的某个元素一定要用如下方法
            1.使用这些Api：push()、pop()、shift()、unshift()、splice()、sort()、reverse()
            2.Vue.set()或者vm.$set()
        特别注意Vue.set()和vm.$set()不能给vm实例对象或者vm的跟数据对象(data)添加属性！！！
     -->
    <div id="root">
        <h2>学生信息</h2>
        <button @click="student.age++">年龄加一岁</button>
        <button @click="addSex">添加性别默认值:男</button>
        <button @click="this.sex = '未知' ">修改性别</button>
        <button @click="addFriend">添加朋友</button>
        <button @click="updateFirstFriendName">修改第一个名字为张三</button>
        <button @click="addHobby">添加一个爱好</button>
        <button @click="updateHobby">修改爱好</button>
        <button @click="removeSmoke">移除抽烟爱好</button>
        <button @click=""></button>
        <h2>姓名:{{student.name}}</h2>
        <h2>年龄:{{student.age}}</h2>
        <h2 v-if="student.sex">性别:{{student.sex}}</h2>
        <h2>爱好:</h2>
        <ul>
            <li v-for="(h,index) in student.hobby" ::key="index">{{h}}</li>
        </ul>
        <h3>朋友们:</h3>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>
    </div>
</body>
<script>
    Vue.config.productionTip = false
    const vm = new Vue({
        el: "#root",
        data: {
            school: {
                name: "尚硅谷",
                address: "北京",
                leader: ""
            },
            student: {
                name: "tom",
                age: 20,
                friends: [
                    { name: "jenny", age: 35 },
                    { name: "tony", age: 36 }
                ],
                hobby: ["唱歌", "跳舞", "rap", "篮球"],
            }
        },
        methods: {
            addSex() {
                // Vue.set(this.student, "sex", "男")
                this.$set(this.student, "sex", "男")
            },
            addLeader() {
                // Vue.set(this.school, "leader", "王洋")
                this.$set(this.school, "leader", "王洋")
            },
            addFriend() {
                this.student.friends.unshift({ name: "jack", age: 30 })
            },
            updateFirstFriendName() {
                this.student.friends[0].name = "张三"
                this.student.friends[0].age = 14
            },
            addHobby() {
                // 利用变更数组的方法监测数据
                this.student.hobby.push("学习")
            },
            updateHobby() {
                // 利用变更数组的方法监测数据
                this.student.hobby.splice(0, 1, "开车")
                // Vue提供set设置对象属性以及数组当中的索引值对应的值的改变
                this.$set(this.student.hobby, 0, "开车")
            },
            removeSmoke() {
                this.student.hobby = this.student.hobby.filter((h) => {
                    return h !== "抽烟"
                })
            }
        },
    })
</script>

</html>